body{
    background: url(../img/bg2.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    color:black;
}
ul.principal{
    margin:0 0 0 120px;
    padding:0;
    list-style: none;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
ul li{
    float:left;
    height: 40px;
    width: 200px;
    background: white;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    opacity: 0.9;
}
ul li a{
    color:black;
    display:block;
    text-decoration: none;
}
ul li a:hover{
    background: green;
}
ul li ul li{
    display:none;
}
ul li:hover ul li{
    display: block;
    z-index:999;
}
.container{
    margin-left:190px;
    margin-top:50px;
    position: absolute;
    width:70%;
    height: 0;
    padding-bottom: 40%;
    background: #4C4C4C;
    border:1px solid #2c2c2c;
}
.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img{
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3{
    display: none;
}
.pre, .nxt{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background:black;
    opacity: 0.1;
    z-index:99;
    cursor:pointer;
}
.pre{
    left:0;
}
.nxt{
    right: 0;
}
.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index:99;
}
.dots{
    top:-5px;
    width: 18px;
    height: 18px;
    margin:0 4px;
    margin-top: 30px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4)
}
.slide_img{
    z-index:-1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
 z-index: 9;
}