*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@font-face{
    font-family: 'motion-picture';
    src: url('../fonts/motion-picture-personal-use/MotionPicture_PersonalUseOnly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.color-black{
    color:rgb(100, 97, 97);
    font-family: motion-picture;
    font-size: 50px;
}
.color-green{
    color:#009688;
    font-family: motion-picture;
    font-size: 50px;
}

.pre-header{
    position: relative;
    height: 30px;
    background-color:#009688;
}
.top{
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.premenu-left{
    position: absolute;
    left: 0px;
    float: left
}
.premenu-right{
    position: absolute;
    right: 0px;
    float: right
}
.menu a{
    text-decoration: none;
    color: white;
    display:inline-block;
    margin:0 12px;
    margin-top: 8px;
    font-size: 9px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.menu-icon a{
    text-decoration: none;
    color: white;
    display:inline-block;
    margin:0 8px;
    margin-top: 8px;
    font-size: 12px;
}
a.recherche{
    margin-left:20px;
}

.header{
    position: relative;
    margin-top:10px;
}
.header a {
    text-decoration: none;
}
.logo{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.menu-principal a{
    text-decoration: none;
    color:rgb(100, 97, 97);
    display:inline-block;
    margin:15px 10px;
    font-size:12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.bg-img{
    position: relative;
    background:url(../img/fond-top.jpg) no-repeat;
    background-size:cover;
    height: 500px;
    -webkit-filter: brightness(90%);
}
.slide{
    position: relative;
    width: 70%;
    margin: 0 auto;
}

button {
    color:white;
    background: #009688;
    border: 1px #009688 solid;
    padding: 5px 12px;
    border-radius:25px;
    font-weight: bold;
    font-size: 10pt;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
.info-slide{
    position: absolute;
    margin-top: 100px;
    width: 80%;
}
.bk{
    position: absolute;
    margin-top: 300px;
}
.t-1{
    font-size: 40px;
    color: white;
    padding-top: 12px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
.write-by{
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.block{
    display: inline-block;
    height: 160px;
    width: 180px;
    background-color:#ccc;
    margin:17px;
    background:url(../img/vignette.png) no-repeat;
    background-size:cover;
    padding: 2px;
}
.blog{
    margin-top: 80px;
    text-align: center;
    color:white;
}
.blog-title{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.blog-date{
    font-size: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
