@font-face {font-family: 'Open Sans Condensed';src: url('../fonts/OpenSansCondensed-Light.ttf');}
*{
    margin:0;
    font-family: 'Open Sans Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.logo h1{
    color:rgb(54, 54, 54);
    font-weight: lighter;
    font-size: 5.6vh;
    font-weight: 100;
    letter-spacing: 1.8vh;
    display: inline-block;
    margin-top:0px;
    margin-left:38%;
}
.logo h1 span{
    font-weight: bold !important;
}
header{
    background: url('../img/1.png') no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 200px;
}
.img_banner{
    width: 100%;
}
.content{
    width: 60%;
    margin: 0 auto;
}
.post{
    position: relative;
    width: 60%;
}
.aside{
    position: inherit;
    width: 35%;
    top: 0 0;
    float: right;
}

#presentation img{
    width: 60%;
    margin-left: 50px; 
}
.bienvenu{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
.icons{
    display: inline-block;
    background: black;
    color:white;
    padding:10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
}
.icons i{
    font-size: 20px;
}

.aside hr{
    margin-top:15px; 
    margin-bottom: 15px;
    border:1px solid rgb(182, 182, 182);
}
.img_last{
  display: inline-block;
  width: 30%;
}
.description_last{
    display: inline-block;
}
.description_last h6{
    margin-bottom: 25px;
}
.date_last{
 font-size:10px;
 font-weight:bold;
}

#archive a{
    display: block;
    margin-top: 12px;
}
article img{
    width: 100%;
}
footer{
    width: 100%;
    height: 200px;
    background: black;
}
/* Les articles */
article{
    margin-top:30px;
}
span.category{
    border:1px solid black; 
    padding:5px;
    font-size: 12px;
}
article h1{
    margin-top:25px;
    font-weight: 100;
}
.article-date{
    font-size: 10px;
    font-weight: bolder;
}
article p{
    font-size:13px;
    margin-top: 15px;
    font-weight:300;
    text-align: justify;
}
.read-more{
    display:inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black; 
    text-align: center;
    width:97%;
}
.pagination{
    margin-top:20px;
}
.pagination a {
    display: inline-block;
    border:1px solid black;
    padding: 8px 10px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
.active{
    opacity: 0.5;
}
.align-center{
    margin-left: 15%;
}
footer img{
    display: inline-block;
    width: 8%;
    margin-top:20px;
    height: 100px; 
}
footer{
    margin-top:30px;
    text-align: center;
    padding-top:10px;
}
footer a{
    color:rgb(241, 241, 241);
    letter-spacing: 5px;
}
footer p{
    color:rgb(158, 158, 158);
    font-size: 10px;
}